<div class="{{sLayoutClass}}"
	[ngStyle]="{'grid-template-columns':sGridColumnTemplate,'grid-template-rows':sGridRowTemplate }">
	<div class="{{sSplitterType}}" cdkDrag [cdkDragLockAxis]="sAxis" (cdkDragMoved)="efnOnDrop($event)"></div>
  <div class="element">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Sikkim</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<p>
					Sikkim shares its border with Nepal in the west and Bhutan in the east, with the Tibetan plateau
					rising from its northern border. It was once a Himalayan monarchy and part of the fabled Silk Route
					to China. Its merger with India in 1975 has offered a window to the world to discover the treasures
					of this hidden land.
				</p>
			</mat-card-content>
		</mat-card>
  </div>
</div>